body{
<<<<<<< Updated upstream
    background-color: white;
=======
    background-color: rgb(34, 57, 107);
>>>>>>> Stashed changes
    color: white;
}

h1{
    color: white;
    text-align: center;
    font-size: 2em;
}

p{
    color: white;
    font-size: 1.2em;
    margin: 20px;
}

li{
    color: white;
    font-size: 1.2em;
}
